﻿@model IEnumerable<elevatortest.Models.PersonQueueingModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="card">
    <div class="card-header">
        <h4>PEOPLE LIST IN QUEUEING</h4>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>weigth</th>
                    <th>turn</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.weigth</td>
                    <td>@item.turn</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>